<footer id="footer">
    <div class="logo-cibertec">
        <img src="/img/logo/cibertec.svg" alt="">
    </div>
    <div class="separador"></div>
    <div class="info-medio">
        <ul>
            <li>Proyecto Restaurante K'antu</li>
            <li>Curso: Desarrollo De Entornos Web</li>
            <li>Profesor: Jose Luis Pintado Vasquez</li>
            <li>Copyright ©2024 K'antu</li>
            <li>Versión: 0.0.1</li>
        </ul>

    </div>
    <div class="separador"></div>
    <div class="info-integrantes">
        <h3>Integrantes</h3>
        <ul>
            <li>Jose Rafael Rojas Reyna</li>
            <li>Alejandro Alonso Rafael</li>
            <li>Carlos Gabriel Mendoza Cardenas</li>
            <li>Christiams Jefferson Saavedra Canales</li>
            <li>Yoel Rene Castillo Vera</li>

        </ul>

    </div>
</footer>