<nav id="nav">
    <ul>
       <li><a href="#" onclick="Page('menu')">Menú </a> </li>
       <li><a href="#" onclick="Page('promocion')">Promoción </a></li>
       <li><a href="#" onclick="Page('agenda')">Agendar</a></li>
       <li><a href="#" onclick="Page('portafolio')">Portafolio</a></li>
       <li><a href="#" onclick="Page('nosotros')">Nosotros </a></li>
       <li><a href="#" onclick="Page('compra')"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAV5JREFUSEvN1CFIXXEUx/GPTIthC4LCFkQQFowGtRlctAwGhoEw5oIKWsSoUcQisoGgDFwQLBbbhDVRg8mkUUFBLIKCRX1/eRced/fd+9fnGzv1f+7ve37nnHsa1Dka6qzvnwLuy26usYqJl3BX6SABJLofsF0rJKtF05jDFgarAJJiClucldCCc7xCO04yIDUBgt4vfMY8gqN01Azoww4u8Q63uKPq1oW34PivyOvhIbowjLVIwBLGsYjJQMsDfMMy9tGTKi2rRU24wBu8x1ERoBlneI1uHFRAsgBDJeF17KE3yS1as8TyT3wpAPzGAEawEgvoxHF5yK24qvJfvMUpbtCGcA0eo8hByPmD/tJHU1ioApjFTPnEfK3MiQF8wkbkyQjrvftUQGN5IzoKIJv4mM6JcRBZfHZaLOA7RvGjtOtjKam8t6ghB73KU54uKu8tGlB3B8+eQ+wM/l/AA0MGQBmWCd8sAAAAAElFTkSuQmCC"/> <div class="shop-contar"> <span id="shop-contar"></span></div></li>
    </ul>

    <div class="unir" onclick="Page('unirme')">
        <a href="#" >Unirme</a>
    </div>

</nav>
