.agenda{
    width: 80%;
    height: 100vh;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--texto-detalles);
    
}
.agenda-deatalles{
    width: 50%;
    height: 500px;
    background: var(--color-titulo);
    color: var(--color-secundario);
    padding: 20px 40px;
}
.agenda-deatalles h2{
    font-size: 30pt;
}
.agenda-deatalles ul li{
    list-style: none;
    margin: 6px 0px;
}
.agenda-deatalles ul li:nth-child(odd) {
    font-weight: bold;
}
.formulario{
    width:400px ;
    height: 500px;
   
    

}
form{
    width: 100%;
   
}
.formulario form label{
    color: var(--color-titulo);
    font-family: var(--texto-detalles);
}
.formulario form input{
    width: 100%;
    padding: 5px 20px;
    color: var(--color-titulo);

}
.formulario form textarea{
    width: 100%;
}