:root{
    --color-fondo: #fffffe;
    --color-boton: #ffd803;
    --color-titulo: #272343;
    --color-parafo: #2d334a;
    --color-texto-boton:#272343;
    --color-secundario: #e3f6f5;
    --color-tercero:#bae8e8;
    --color-separador: #9bc9c9;
    --color-agenda: #F5F5F5;
    --color-b-busqueda: #272343;
    --color-tarjeta:#bae8e8;

}
