/* Estilos generales */
@import url('color.css');          /* Colores */
@import url('texto.css');          /* Tipografía */

/* Estilos para la estructura */
@import url('header.css');         /* Cabecera */
@import url('footer.css');         /* Pie de página */
@import url('nav.css');            /* Navegación */

/* Estilos principales */
@import url('main.css');           /* Estilos principales */
@import url('bienvenido.css');     /* Estilos para la página de bienvenida */

/* Estilos específicos de secciones */
@import url('menu.css');           /* Menú */
@import url('promocion.css');      /* Promociones */
@import url('agenda.css');         /* Agenda */
@import url('portafolio.css');     /* Portafolio */
@import url('nosotros.css');       /* Nosotros */
@import url('unirme.css');         /* unirme */
@import url('shop.css');         /* Carrito de compra*/

/* Estilos de tarjetas */
@import url('card.css');           /* Estilos de tarjetas */


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
   /* border: solid 1px;*/
    
}
body{
    background: var(--color-fondo);
    user-select: none;
    background-image: url('../img/Banners.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}