.unirme{
    width: 70%;
    height: 100vh;
    margin: 10px auto;



}

.unir-data{
    width: 500px;
    height:560px;
    margin: 20px auto;
    background: var(--color-secundario);
    padding: 20px;
   

    
}
.data h2{
    text-align: center;
    color: var(--color-titulo);
    font-family: var(--texto-titulo);
    font-size: 2rem;
}
.data h3{
    
    color: var(--color-titulo);
    font-family: var(--texto-titulo);
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 700;



}

.unir-data form{
    font-family: var(--texto-detalles);
    color: var(--color-titulo);
    
}

.unir-data form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;  
    outline: none;
    border: 1px solid var(--color-separador);
    font-size: 14px;
    transition: border-color 0.2s ease;
    font-weight: 500;
    

}

.unir-data form input:focus{
    border: 1px solid var(--color-titulo);
    
}
.unir-data form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.unir-data form label{
    display: block;
}


.termi-condi{
visibility: hidden;
}
