.unirme{
    width: 70%;
    height: 100vh;
    margin: 10px auto;



}

.unir-data{
    width: 500px;
    height:560px;
    margin: 20px auto;
    background: var(--color-secundario);
    padding: 20px;
   

    
}
.data h2{
    text-align: center;
    color: var(--color-titulo);
    font-family: var(--texto-titulo);
    font-size: 2rem;
}
.data h3{
    
    color: var(--color-titulo);
    font-family: var(--texto-titulo);
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 700;



}

.unir-data form{
    font-family: var(--texto-detalles);
    color: var(--color-titulo);
    
}

.unir-data form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;  
    outline: none;
    border: 1px solid var(--color-separador);
    font-size: 14px;
    transition: border-color 0.6s ease;
    font-weight: lighter;


    &:focus{
        border: 1px solid var(--color-titulo);
    }
    

}


.unir-data form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.unir-data form label{
    display: block;
}
.unir-data button{
    width: 150px;
    padding: 10px;
    background: var(--color-titulo);
    color: var(--color-boton);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: var(--texto-boton);
    font-weight: 700;
    transition: background-color 0.2s ease;
    font-size: 13px;
    margin-top: 20px;
    &:hover{
        background: var(--color-secundario);
        color: var(--color-titulo);
        border: solid 1px var(--color-titulo);
    }

}
.chec{
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.chec input[type="checkbox"]{
    margin-right: 10px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14pt;
    width: 20px;
    height: 20px;

}
.chec p{
    color: var(--color-titulo);
    font-family: var(--texto-detalles);
    font-weight: 100;
    font-size: 10pt;
    margin: 0px 5px;

}
.chec a{
    text-decoration: underline;
    color: var(--color-titulo);
    font-family: var(--texto-titulo);
    font-weight: bolder;
    font-size: 11pt;
    margin-left: 5px;


}

.termi-condi{
    width: 500px;
    height: 200px;
    overflow: auto;
    visibility: hidden;
     
}
